body {
    text-align: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(164deg, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 100) 50%, rgba(0, 255, 252, 1) 100%);
    background-repeat: no-repeat;
    font-family: 'Cookie', cursive;
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 20px;
    font-family: 'Cookie', cursive;

}

#me {
    border-radius: 50%;
    width: 100px;

}

.menu{
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
    

}

#TOA1{
    height: 472px;
    width: 310px;
}

#about{
    color:crimson;
}
#welcome{
    color: aqua;
}
#mifav{
    color: chartreuse;
}
#percyj{
    color: chartreuse;
}
#TOArating{
    text-align: center;
}
html{
scroll-behavior: smooth;
}
#author{
    transition: transform .2s;
    border: 10px solid #AAAAAA
}
#author:hover{
    transform: scale(0.9);
}